@import "tailwindcss";
@plugin "daisyui";






@plugin "daisyui/theme" {
  name: "coffee";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(20% 0.05 260); /* fondo principal */
  --color-base-200: oklch(25% 0.04 260); /* botones inactivos */
  --color-base-300: oklch(30% 0.03 260); /* bordes y detalles */
  --color-base-content: oklch(90% 0.05 260); /* texto claro */

  --color-primary: oklch(70% 0.25 300); /* púrpura neón */
  --color-primary-content: oklch(100% 0 0); /* texto oscuro en botones primarios */

  --color-secondary: oklch(65% 0.25 170); /* verde neón */
  --color-secondary-content: oklch(10% 0 0); /* texto oscuro en secundarios */

  --color-accent: oklch(85% 0.25 40); /* amarillo neón */
  --color-accent-content: oklch(10% 0 0); /* texto oscuro en acento */

  --color-neutral: oklch(15% 0.03 260); /* fondo oscuro */
  --color-neutral-content: oklch(90% 0.05 260); /* texto claro */

  --color-info: oklch(70% 0.2 240);     /* azul */
  --color-success: oklch(70% 0.2 160);  /* verde */
  --color-warning: oklch(85% 0.2 90);   /* amarillo */
  --color-error: oklch(70% 0.2 30);     /* rojo */

  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 2px;
  --depth: 1;
  --noise: 0.5;
}
